header {
	width: 100%;
	background-image: url(first-screen.jpg);
	background-size: cover;
	border: solid 1px red;
}
header .container {
	border: solid 1px red;
}
.rod-text {
	padding: 100px 0 300px;
}
.one-text {
	font-size: 60px;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
}
.two-text {
	font-size: 20px;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
}
.wrapper {
	width: 1110px;
	position: relative;
	top: -105px;
	background-color: #f8f5f5;
	border: solid 1px;
}
.p1 {
	font-size: 60px;
	color: #f7654a;
	font-weight: 900;
}
.p2 {
	font-size: 40px;
	color: #black;
	font-weight: 500;
}
.p3 {
	font-size: 20px;
	color:#a0908e;
	font-weight: 600;
}
.text-center1 {
	margin-bottom: 30px;
	text-align: center;
}
.gazprom {
	font-weight: 900;
	font-size: 20px;
	margin-top: 30px;
	text-transform: uppercase;
}
.bord {
	border-top: solid 5px red;
}
.info {
	font-weight: 200;
}
.img {
	width: 100%;
}
.section1 {
	width: 100%;
	background: #f7654a;
	color: #fff;
}
.left-text {
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 700;
}
.sub-text {
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 700;
}
.icon {
	font-size: 30px;
	color: black;
	text-transform: uppercase;
	background-color: #fff;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	margin-top: 15px;
}
